@model Student
@{
    ViewData["Title"] = "Enrollment Successful";
}

<h1>Enrollment Successful!</h1>
<p>Welcome to Winterhold College, @Model.Name!</p>
<p>Your student record has been created. You will receive an email at @Model.Email with further instructions.</p>
<p><a href="/">Return to Home</a></p>